// bb colors
$footer-bg: #09182D;
$black: #000000;
$gray: #F4F4F4;
$gray-second: #D9D9D9;
$warning: #E1473D;

//fonts
$fontSize: 16px;
$lineHeight: 1.4;


$containerPadding: 27px;
$headerHeight: 87px;
